body {
    background-color: rgb(7, 2, 14);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(139, 133, 133);
}

table {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    width: 70%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}

td,
th {
    border: 1px solid #55515e;
    padding: 3px;
    color: rgb(139, 133, 133);
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(72, 46, 143);
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(72, 46, 143);
}

a:link {
    color: rgb(139, 133, 133);
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: rgb(189, 189, 236);
    text-decoration: none;
}

a:active {
    color: rgb(59, 59, 100);
    text-decoration: none;
}

.highlight {
    background-color: rgb(23, 23, 68);
}